$color-primary: #165690;
$color-primary-light: desaturate(lighten($color-primary, 15%), 40%);
$color-primary-dark: saturate(darken($color-primary, 14%), 15%);
$color-accent: #df8a13;
$color-dark: #232323;
$color-gray: darken(#ffffff, 13.5%);
$color-light: #ffffff;
